
:root{
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%)
}

.App {
  font-family: 'Rubik';
  text-align: center;
  z-index: 0;
}
#map{
  margin-top: -50px;
  height: 800px;
  z-index: 1;
  position: relative;
}
.title{
    background:url('./images/pattern-bg.png');
    margin-top: -25px;
    min-height: 250px;
    z-index: 1;
}
.title h1{
  padding-top: 20px;
  color: white;
  font-weight: 500;
}
.title input {
  width: 350px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
}
input:focus{
outline: none;
}
input::placeholder{
  padding-left: 15px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 12px;
}
.title button{
  border-radius: 0px 10px 10px 0px;
  background-color: black;
  border: 1px solid black;
}
.info{
  position: absolute;
  border: 1.5px solid rgb(228, 228, 228);
  z-index: 10;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  height: 100px;
  margin: auto;
  top: 150px;
  left: 10%;
  right: auto;
  width: 80%;
}
.info .smallCont{
  color: var(--dark-gray);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 8px;
  letter-spacing: .15rem;
  margin: 5px
}

.vl {
  border-radius: 10px;
  border-left: 2px solid rgb(228, 228, 228);
  height: 40%;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

@media (max-width:550px) {
  .info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 200px;
  }
  .vl{
    display: none;
  }
}